// GRID SYSTEM QUICK LOOK
.comics-list {
    display: grid;
    // This is the shortcut to say autofill all the space on the screen and never go under 200px img (it wraps when it happens)
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    list-style: none;

    img {
        width: 100%;
    }
}
