

.price-and-description {
    @include flexRow('space-between');
    width: 60%;
    padding: 1rem;
    background-color: $dcBlue;
    color: $white;

    & a {
        text-decoration: none;
        color: $white;

        & i {
            padding-left: 1rem;
        }
    }
}

.text {
    line-height: 2rem;
}


