.hero {
    position: relative;
    height: 400px;
    border-bottom: 10px solid $dcBlue;
    background-image: url('../img/bg-hero-home.jpg');
    background-size: cover;
    background-position: center;

    .container img {
        position: absolute;
        bottom: 0;
        left: 20%;
    }

    .container .current {
        position: absolute;
        bottom: 0;
        left: 15%;
        padding: .5rem;
        background: $dcBlue;
        color: $white;
    }
}